<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This program is part of Zenoss Core, an open source monitoring platform.
  ~ Copyright (C) 2010, Zenoss Inc.
  ~
  ~ This program is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License version 2 as published by
  ~ the Free Software Foundation.
  ~
  ~ For complete information please visit: http://www.zenoss.com/oss/
  -->

<configuration>
    <if condition='isNull("ZENOSS_DAEMON")'>
        <then>
            <appender name="APPENDER" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${ZENHOME:-.}/log/zeneventserver.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- daily rollover -->
                    <fileNamePattern>${ZENHOME}/log/zeneventserver.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                    <!-- keep 7 days' worth of history -->
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
                </encoder>
            </appender>
        </else>
    </if>

    <contextName>zeneventserver</contextName>
    <jmxConfigurator />
    <logger name="org.springframework" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.zenoss" level="${ZENOSS_LOG_LEVEL:-INFO}" />
    <logger name="org.zenoss" level="${ZENOSS_LOG_LEVEL:-INFO}" />

    <root level="INFO">
        <appender-ref ref="APPENDER"/>
    </root>
</configuration>
