<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        metadata-complete="false"
        version="3.1">

    <display-name>Zenoss ZEP Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:zep-config.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/api</param-value>
    </context-param>

    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <listener>
        <listener-class>org.zenoss.zep.ZepContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.zenoss.zep.ZepMetricsServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- Metrics servlet-->
    <servlet>
        <servlet-name>Metrics</servlet-name>
        <servlet-class>io.dropwizard.metrics.servlets.AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Metrics</servlet-name>
        <url-pattern>/metrics/*</url-pattern>
    </servlet-mapping>

</web-app>
